<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>GlazeWM</string>

    <key>CFBundleDisplayName</key>
    <string>GlazeWM</string>

    <key>CFBundleIdentifier</key>
    <string>io.glzr.glazewm</string>

    <key>CFBundleVersion</key>
    <string>${VERSION}</string>

    <key>CFBundleShortVersionString</key>
    <string>${VERSION}</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleExecutable</key>
    <string>glazewm</string>

    <key>CFBundleIconFile</key>
    <string>icon</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>LSMinimumSystemVersion</key>
    <string>10.13</string>

    <key>NSHighResolutionCapable</key>
    <true/>

    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>

    <key>NSHumanReadableCopyright</key>
    <string>Copyright © glzr-io. All rights reserved.</string>

    <!-- Run as background/agent app (no dock icon). -->
    <key>LSUIElement</key>
    <true/>

    <!-- Description for why accessibility permissions are needed. -->
    <key>NSAccessibilityUsageDescription</key>
    <string>GlazeWM requires accessibility permissions to manage and arrange windows.</string>

    <key>LSArchitecturePriority</key>
    <array>
        <string>arm64</string>
        <string>x86_64</string>
    </array>
</dict>
</plist>
