[package]
name = "wm-platform"
version = "0.0.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
anyhow = { workspace = true }
home = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
windows = { version = "0.52", features = [
  "implement",
  "Win32_Devices_HumanInterfaceDevice",
  "Win32_Foundation",
  "Win32_Graphics_Dwm",
  "Win32_Graphics_Gdi",
  "Win32_Security",
  "Win32_System_Com",
  "Win32_System_Environment",
  "Win32_System_LibraryLoader",
  "Win32_System_Registry",
  "Win32_System_RemoteDesktop",
  "Win32_System_SystemServices",
  "Win32_System_Threading",
  "Win32_UI_Accessibility",
  "Win32_UI_HiDpi",
  "Win32_UI_Input_Ime",
  "Win32_UI_Input_KeyboardAndMouse",
  "Win32_UI_Shell_Common",
  "Win32_UI_TextServices",
  "Win32_UI_WindowsAndMessaging",
] }
windows-interface = { version = "0.52" }
wm-common = { path = "../wm-common" }
wm-macros = { path = "../wm-macros" }
