[package]
name = "wm-platform"
version = "0.0.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[dependencies]
anyhow = { workspace = true }
home = { workspace = true }
thiserror = "2.0.12"
tokio = { workspace = true }
tracing = { workspace = true }
wm-common = { path = "../wm-common" }
wm-macros = { path = "../wm-macros" }

[target.'cfg(target_os = "windows")'.dependencies]
windows = { version = "0.52", features = [
  "implement",
  "Win32_Devices_HumanInterfaceDevice",
  "Win32_Foundation",
  "Win32_Graphics_Dwm",
  "Win32_Graphics_Gdi",
  "Win32_Security",
  "Win32_System_Com",
  "Win32_System_Environment",
  "Win32_System_LibraryLoader",
  "Win32_System_Registry",
  "Win32_System_RemoteDesktop",
  "Win32_System_SystemServices",
  "Win32_System_Threading",
  "Win32_UI_Accessibility",
  "Win32_UI_HiDpi",
  "Win32_UI_Input_Ime",
  "Win32_UI_Input_KeyboardAndMouse",
  "Win32_UI_Shell_Common",
  "Win32_UI_TextServices",
  "Win32_UI_WindowsAndMessaging",
] }
windows-interface = { version = "0.52" }

[target.'cfg(target_os = "macos")'.dependencies]
objc2 = "0.6.1"
objc2-app-kit = { version = "0.3.1", default-features = false, features = [
  "NSApplication",
  "NSEvent",
  "NSGraphics",
  "NSRunningApplication",
  "NSResponder",
  "NSScreen",
  "NSWindow",
  "NSWorkspace",
] }
objc2-core-foundation = { version = "0.3.1", features = ["CFCGTypes"] }
objc2-foundation = { version = "0.3.1", default-features = false, features = [
  "NSArray",
  "NSEnumerator",
  "NSNotification",
  "NSKeyValueCoding",
  "NSString",
  "NSThread",
  "NSValue",
] }

[target.'cfg(target_os = "linux")'.dependencies]
smithay = { version = "0.7.0" }
bitflags = "2.2.1"
