<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="GlazeWM" Version="$(env.VERSION_NUMBER)" Manufacturer="glzr.io"
    UpgradeCode="ef0f849b-d90d-4647-bb26-730c6fce5f9e"
    DisableModify="yes"
    IconSourceFile="resources/icon.ico"
  >
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        Theme="hyperlinkLicense"
        SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <Chain>
      <!-- GlazeWM MSI for an x64 architecture. -->
      <MsiPackage
        Id="GlazeWMPackageX64"
        SourceFile="tmp/installer-x64.msi"
        InstallCondition="(VersionNT64 AND NOT NativeMachine) OR (NativeMachine = 34404)"
        bal:DisplayInternalUICondition="1"
        Permanent="yes"
      />

      <!-- GlazeWM MSI for an arm64 architecture. -->
      <MsiPackage
        Id="GlazeWMPackageArm64"
        SourceFile="tmp/installer-arm64.msi"
        InstallCondition="NativeMachine = 43620"
        bal:DisplayInternalUICondition="1"
        Permanent="yes"
      />

      <!-- Zebar MSI for an x64 architecture. -->
      <MsiPackage
        Id="ZebarPackageX64"
        SourceFile="tmp/zebar-*-x64.msi"
        InstallCondition="(VersionNT64 AND NOT NativeMachine) OR (NativeMachine = 34404)"
        bal:DisplayInternalUICondition="1"
        Permanent="yes"
      />

      <!-- Zebar MSI for an arm64 architecture. -->
      <MsiPackage
        Id="ZebarPackageArm64"
        SourceFile="tmp/zebar-*-arm64.msi"
        InstallCondition="NativeMachine = 43620"
        bal:DisplayInternalUICondition="1"
        Permanent="yes"
      />
    </Chain>
  </Bundle>
</Wix>
