<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="GlazeWM" Version="$(var.VERSION_NUMBER)"
    UpgradeCode="f57adff3-4521-4a6b-87b1-d34a7d9bae1e"
    Manufacturer="Glzr Software Pte. Ltd."
    DisableModify="yes"
    DisableRemove="yes"
    IconSourceFile="resources/icon.ico"
  >
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        Theme="HyperlinkSidebarLicense"
        ThemeFile="resources/wix/bundle-theme.xml"
        SuppressOptionsUI="yes"
        ShowVersion="yes" />
    </BootstrapperApplication>

    <Chain>
      <!-- GlazeWM MSI for x64 architectures. -->
      <MsiPackage
        Id="GlazeWMPackageX64"
        SourceFile="tmp/installer-x64.msi"
        InstallCondition="(VersionNT64 AND NOT NativeMachine) OR (NativeMachine = 34404)"
        bal:DisplayInternalUICondition="1"
        Permanent="yes"
      />

      <!-- GlazeWM MSI for arm64 architectures. -->
      <MsiPackage
        Id="GlazeWMPackageArm64"
        SourceFile="tmp/installer-arm64.msi"
        InstallCondition="NativeMachine = 43620"
        bal:DisplayInternalUICondition="1"
        Permanent="yes"
      />

      <!-- Zebar MSI for x64 architectures. -->
      <MsiPackage
        Id="ZebarPackageX64"
        SourceFile="tmp/zebar-*-x64.msi"
        InstallCondition="(VersionNT64 AND NOT NativeMachine) OR (NativeMachine = 34404)"
        bal:DisplayInternalUICondition="1"
        Permanent="yes"
      />

      <!-- Zebar MSI for arm64 architectures. -->
      <MsiPackage
        Id="ZebarPackageArm64"
        SourceFile="tmp/zebar-*-arm64.msi"
        InstallCondition="NativeMachine = 43620"
        bal:DisplayInternalUICondition="1"
        Permanent="yes"
      />
    </Chain>
  </Bundle>
</Wix>
