[package]
name = "wm"
version = "0.0.0"
description = "GlazeWM is a tiling window manager for Windows inspired by i3 and Polybar."
repository = "https://github.com/glzr-io/glazewm"
license = "GPL-3"
edition = "2021"
default-run = "glazewm"

[[bin]]
name = "glazewm"
path = "src/main.rs"

[features]
ui_access = []

[build-dependencies]
tauri-winres = { workspace = true }

[dependencies]
anyhow = { workspace = true }
ambassador = "0.4"
clap = { workspace = true }
enum-as-inner = "0.6"
futures-util = { workspace = true }
home = { workspace = true }
image = "0.25"
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = "0.9"
tokio = { workspace = true }
tokio-tungstenite = { workspace = true }
tracing = { workspace = true }
tracing-appender = "0.2"
tracing-subscriber = { workspace = true }
tray-icon = "0.21"
uuid = { workspace = true }
wm-common = { path = "../wm-common" }
wm-cli = { path = "../wm-cli" }
wm-platform = { path = "../wm-platform" }
wm-ipc-client = { path = "../wm-ipc-client" }
