name: Build

on:
  workflow_call:
    inputs:
      enable_ui_access:
        type: boolean
        default: false
        description: (Windows only) Enable UIAccess in the application manifest.
      targets:
        type: string
        default: x86_64-pc-windows-msvc,aarch64-apple-darwin
        description: Comma-separated list of Rust targets to build for.
      version_number:
        type: string
        default: 0.0.0-dev
        description: Version number to use for the build.
  workflow_dispatch:
    inputs:
      enable_ui_access:
        type: boolean
        default: false
        description: (Windows only) Enable UIAccess in the application manifest.
      targets:
        type: string
        default: x86_64-pc-windows-msvc,aarch64-apple-darwin
        description: Comma-separated list of Rust targets to build for.
      version_number:
        type: string
        default: 0.0.0-dev
        description: Version number to use for the build.

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          # MacOS (Intel)
          - platform: macos-latest
            target: x86_64-apple-darwin
          # MacOS (Apple Silicon)
          - platform: macos-latest
            target: x86_64-apple-darwin,aarch64-apple-darwin
          # 64-bit Windows (Intel & AMD)
          - platform: windows-latest
            target: x86_64-pc-windows-msvc
          # 64-bit Windows (ARM)
          - platform: windows-latest
            target: aarch64-pc-windows-msvc

    runs-on: ${{ matrix.platform }}
    if: contains(inputs.targets, matrix.target)
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@21dc36fb71dd22e3317045c0c31a3f4249868b17
        with:
          toolchain: nightly
          targets: ${{ matrix.target }}

      - uses: swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3
        with:
          shared-key: ${{ matrix.target }}-${{ hashFiles('Cargo.lock') }}

      - name: Build for ${{ matrix.target }}
        env:
          VERSION_NUMBER: ${{ inputs.version_number }}
          FEATURES: ${{ matrix.platform == 'windows-latest' && inputs.enable_ui_access && '--features ui_access' || '' }}
        run: cargo build --locked --release --target ${{ matrix.target }} $FEATURES

      - uses: actions/upload-artifact@v6
        if-no-files-found: error
        env:
          EXT: ${{ matrix.platform == 'windows-latest' && '.exe' || '' }}
        with:
          name: build-${{ matrix.target }}
          path: |
            target/${{ matrix.target }}/release/glazewm${{ env.EXT }}
            target/${{ matrix.target }}/release/glazewm-cli${{ env.EXT }}
            target/${{ matrix.target }}/release/glazewm-watcher${{ env.EXT }}
