name: Lint check

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint-check:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@21dc36fb71dd22e3317045c0c31a3f4249868b17
        with:
          toolchain: nightly
          components: clippy, rustfmt

      - uses: swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3

      - name: Check formatting (rustfmt)
        run: cargo fmt --check

      - name: Check linting (clippy)
        run: cargo clippy --all-targets --all-features -- -W clippy::pedantic -D warnings

      - name: Check build
        run: cargo build --locked
