name: Release

on:
  workflow_dispatch:
    inputs:
      version_number:
        type: string
        default: 0.0.0
        description: Version number to use for the build.

permissions:
  contents: write

concurrency:
  group: release

jobs:
  package:
    uses: ./.github/workflows/package.yaml
    secrets: inherit
    with:
      version_number: ${{ inputs.version_number }}

  release:
    needs: package
    runs-on: ubuntu-latest
    env:
      VERSION: v${{ inputs.version_number }}
    steps:
      - uses: actions/checkout@v4

      - name: Download installers
        uses: actions/download-artifact@v4
        with:
          name: installers
          path: out

      - name: Rename installers
        run: |
          mv out/installer-universal.exe out/glazewm-$VERSION.exe
          mv out/installer-arm64.msi out/standalone-glazewm-$VERSION-arm64.msi
          mv out/installer-x64.msi out/standalone-glazewm-$VERSION-x64.msi

      - name: Create draft release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create "$VERSION" \
            --title "$VERSION" \
            --generate-notes \
            --draft \
            "./out/glazewm-$VERSION.exe#$VERSION for Windows (recommended)" \
            "./out/standalone-glazewm-$VERSION-arm64.msi#$VERSION for Windows (standalone, arm64)" \
            "./out/standalone-glazewm-$VERSION-x64.msi#$VERSION for Windows (standalone, x64)"
